@inherits LayoutComponentBase

<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        <LoginDisplay />
    </div>

    <div class="content px-4">

        <Alert Color="Color.Warning" IsShow="true">
            SecureDNS Technology Preview
        </Alert>

        @Body
    </div>
</div>
