<Sidebar @ref="Sidebar">
    <SidebarContent>
        <SidebarBrand>
            <a href="">SecureDNS</a>
        </SidebarBrand>
        <SidebarNavigation>
            <SidebarItem>
                <SidebarLink To="" Title="Home" Margin="Margin.IsAuto">
                    <i class="fas fa-tachometer-alt"></i> Home
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="Blacklists" Margin="Margin.IsAuto">
                    <i class="fas fa-clipboard-list"></i> Blacklists
                </SidebarLink>
            </SidebarItem>
            <SidebarItem>
                <SidebarLink To="DoB" Margin="Margin.IsAuto">
                    <i class="fas fa-cubes"></i> DNS Over Blockchain
                </SidebarLink>
            </SidebarItem>
        </SidebarNavigation>
    </SidebarContent>
</Sidebar>

@code{
    Sidebar Sidebar;

    void ToggleSidebar()
    {
        Sidebar.Toggle();
    }
}