@page "/Blacklists"
@using Microsoft.EntityFrameworkCore
@inherits BlacklistsBase

<h1>Blacklists</h1>

<button class="btn btn-primary" @onclick="@InitializeAsync">Initialize</button>

<p>@Output</p>

<DataTable Records="@Blacklists" />