@page "/ENS"
@using TWyTec.Blazor

<VerticalStepper>
    <StepperItem Header="1 Step">
        <p>Text</p>
    </StepperItem>
    <StepperItem Header="2 Step">
        <p>Text</p>
    </StepperItem>
    <StepperItem Header="3 Step">
        <p>Text</p>
    </StepperItem>
    <StepperItem Header="4 Step">
        <p>Text</p>
    </StepperItem>
</VerticalStepper>